<div>
    <!-- Animated Banner Section -->
    <section class="page-title-banner animate__animated animate__fadeIn">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="animate__animated animate__slideInDown">ABOUT US</h2>
                </div>
            </div>
        </div>
        <div class="shape1"><img src="/shape.png" alt="shape"
                class="floating animate__animated animate__fadeIn animate__delay-1s animate__slow"></div>
        <div class="shape2"><img src="/shape.png" alt="shape"
                class="floating-slow animate__animated animate__fadeIn animate__delay-2s animate__slow"></div>
        <div class="shape3"><img src="/shape.png" alt="shape"
                class="bounce animate__animated animate__fadeIn animate__delay-1s animate__backInUp"></div>
        <div class="shape6"><img src="/shape.png" alt="shape"
                class="floating-vertical animate__animated animate__fadeIn animate__delay-2s animate__slow"></div>

    </section>

    <section class="contact-info-area pt-50 pb-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="contact-info-box hover-effect" style="border-radius: 10px;">
                        <div class="icon pulse-effect"><i class="icofont-email"></i></div>
                        <h3><i class="icofont-ui-messaging"></i> Mail Here</h3>
                        <p><a href="mailto:contacts&#64;riwaymedia.com"><i class="icofont-envelope"></i>
                                contacts&#64;riwaymedia.com</a></p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="contact-info-box hover-effect" style="border-radius: 10px;">
                        <div class="icon pulse-effect"><i class="icofont-google-map"></i></div>
                        <h3><i class="icofont-location-arrow"></i> Visit Here</h3>
                        <p><i class="icofont-building-alt"></i> LK4-03 Dọc Bún 1, KĐT Văn Khê, Phường Hà Đông, Hà Nội
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3">
                    <div class="contact-info-box hover-effect" style="border-radius: 10px;">
                        <div class="icon pulse-effect"><i class="icofont-phone"></i></div>
                        <h3><i class="icofont-telephone"></i> Call Here</h3>
                        <p><a href="tel:+849067825178"><i class="icofont-touch"></i> +84 967 825 178</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Google Map Section -->
    <section class="map-section">
        <div class="container-fluid p-0">
            <div class="google-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3725.38983212131!2d105.763326!3d20.977005!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313453004d16fba5%3A0xad2656ea16ae9f19!2sRIWAY%20MEDIA%20GROUP!5e0!3m2!1sen!2s!4v1752594155316!5m2!1sen!2s" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </section>

    <!-- Customer Partners Section -->
    <section class="partners-section py-5">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center ">
                    <h2 class="section-title" data-text="Customer Partners">Customer Partners</h2>
                    <div class="bar mx-auto"></div>
                    <p class="section-subtitle">Trusted by companies worldwide</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="partners-wrapper">
                        <div class="row">
                            <div class="col-md-4 col-6 mb-4">
                                <div class="partner-item">
                                    <img src="/partner1.jpg" alt="Partner 1" class="img-fluid">
                                </div>
                            </div>
                            <div class="col-md-4 col-6 mb-4">
                                <div class="partner-item">
                                    <img src="/partner2.jpg" alt="Partner 2" class="img-fluid">
                                </div>
                            </div>
                            <div class="col-md-4 col-6 mb-4">
                                <div class="partner-item">
                                    <img src="/partner3.jpg" alt="Partner 3" class="img-fluid">
                                </div>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Social Media Section -->
    <section class="social-connect py-5 bg-light">
        <div class="container">
            <div class="row text-center">
                <div class="col-12 mb-4 mt-4">
                    <h3>Connect With Us</h3>
                    <div class="bar mx-auto"></div>
                </div>
                <div class="col-12">
                    <ul class="social-icons list-inline">
                        <li class="list-inline-item">
                            <a href="https://www.facebook.com/profile.php?id=61576342929995" class="facebook"><i
                                    class="icofont-facebook"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>