<div _ngcontent - iih - c21="" role="document" class="modal-dialog">
    <div _ngcontent - iih - c21="" class="modal-content">
        <div _ngcontent - iih - c21="" class="modal-header"> <button _ngcontent - iih - c21="" type="button" data -
                dismiss="modal" aria - label="Close" class="close"> <span _ngcontent - iih - c21="" aria -
                    hidden="true"> <i _ngcontent - iih - c21="" class="icofont-close"> </i></span> </button>
            <h2 _ngcontent-iih-c21="" id="myModalLabel2" class="modal-title"><a _ngcontent-iih-c21="" routerlink="/"
                    ng-reflect-router-link=" / " href=" / "><img _ngcontent-iih-c21="" src="assets / img / logo.png"
                        alt="logo"></a></h2>
        </div>
        <div _ngcontent-iih-c21="" class="modal - body">
            <div _ngcontent-iih-c21="" class="sidebar - modal - widget">
                <h3 _ngcontent-iih-c21="" class="title">Contact Info</h3>
                <ul _ngcontent-iih-c21="" class="contact - info">
                    <li _ngcontent-iih-c21=""><i _ngcontent-iih-c21="" class="icofont - google - map"></i> Address <span
                            _ngcontent-iih-c21="">LK4-03 Dọc Bún 1, KĐT Văn Khê, Phường Hà Đông, Hà Nội</span></li>
                    <li _ngcontent-iih-c21=""><i _ngcontent-iih-c21="" class="icofont - email"></i> Email <span
                            _ngcontent-iih-c21="">contact&#64;riwaymedia.com</span></li>
                    <li _ngcontent-iih-c21=""><i _ngcontent-iih-c21="" class="icofont - phone"></i> Phone <span
                            _ngcontent-iih-c21="">++84 967 825 178</span></li>
                </ul>
            </div>
            <div _ngcontent-iih-c21="" class="sidebar - modal - widget">
                <h3 _ngcontent-iih-c21="" class="title">Connect With Us</h3>
                <ul _ngcontent-iih-c21="" class="social - list">
                    <li _ngcontent-iih-c21=""><a _ngcontent-iih-c21="" href="https://www.facebook.com/profile.php?id=61576342929995" target="_blank"><i _ngcontent-iih-c21=""
                                class="icofont - facebook"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>